.body {
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    align-self: center;
    width: 100vh;
    height: 200vw;
    background: linear-gradient(45deg, #002E94, #083AA9, #5DA7DB, #5837D0);
    background-size: 300%, 300%;
    animation: colors 15s ease infinite;
}

@keyframes colors {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }

}

.cabecalho {
    display: flex;
    align-items: center;
    align-content: center;
    background: rgb(77, 77, 77);
    position: fixed;
    top: 0;
    left: 4.4%;
    width: 90vw;
    height: 13vh;
    border-radius: 10px;
    justify-content: space-around;
}

.button {
    text-align: center;
    align-self: center;
}

.menuPrincipal a {
    color: white;
    font-size: 16px;
    text-decoration: none;
    font-family: sans-serif;
}

.menuPaginas h3 {
    color: white;
    font-size: 16px;
    text-decoration: none;
    font-family: sans-serif;
}

#textoPaginaPrincipal {
    top: 10;
    text-align: center;
    display: inline-block;
    margin: 0px 20px;
    color: white;
    font-size: 16px;
}

#textoDesenvolvimento {
    top: 10;
    text-align: center;
    display: inline-block;
    margin: 0px 20px;
    color: white;
    font-size: 16px;
}

#textoDocumentacao {
    top: 10;
    text-align: center;
    display: inline-block;
    margin: 0px 20px;
    color: white;
    font-size: 16px;
}

#textoReferencia {
    top: 10;
    text-align: center;
    display: inline-block;
    margin: 0px 20px;
    color: white;
    font-size: 16px;
}

#textoContato {
    top: 10;
    text-align: center;
    display: inline-block;
    margin: 0px 20px;
    color: white;
    font-size: 16px;
}