.body {
    display: flex;
    margin: 24px;
    margin-top: 130px;
    align-items: flex-start;
    justify-content: flex-start;
    align-content: flex-start;
    align-self: flex-start;
    width: 100vh;
    height: 200vw;
    background: linear-gradient(45deg, #002E94, #083AA9, #5DA7DB, #5837D0);
    background-size: 300%, 300%;
    animation: colors 15s ease infinite;
}

@keyframes colors {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }

}

.cabecalho {
    display: flex;
    align-items: center;
    align-content: center;
    background: rgb(77, 77, 77);
    position: fixed;
    top: 0;
    left: 4.4%;
    width: 90vw;
    height: 13vh;
    border-radius: 10px;
    justify-content: space-around;
}

.menuPaginas a {
    color: white;
    font-size: 16px;
    text-decoration: none;
    font-family: sans-serif;
}

#textoContato {
    top: 10;
    text-align: center;
    display: inline-block;
    margin: 0px 20px;
    color: white;
    font-size: 16px;
}

#textoDesenvolvimento {
    top: 10;
    text-align: center;
    display: inline-block;
    margin: 0px 20px;
    color: white;
    font-size: 16px;
}

#textoDocumentacao {
    top: 10;
    text-align: center;
    display: inline-block;
    margin: 0px 20px;
    color: white;
    font-size: 16px;
}

#textoReferencia {
    top: 10;
    text-align: center;
    display: inline-block;
    margin: 0px 20px;
    color: white;
    font-size: 16px;
}

.paginas {
    display: flex;
    text-align: start;
    align-items: flex-start;
    flex-direction: column;
    color: white;
    font-family: sans-serif;

}

.tituloInicialDoc {
    margin-left: 283px;
}

.requesitos {
    display: flex;
    text-align: center;
    align-items: center;
    margin-left: 160px;
    margin-top: 30px;
    width: calc(100% - 60px);
    height: calc(100% - 90px);
}

.requesitoTexto {
    margin: 50px;
}

.requesitoTextoLista {
    margin: 25px;
    width: 280px;
}

.tituloInicializa {
    margin-top: 50px;
    margin-left: 190px;
}

.caixaConfigurar {
    background-color: gray;
    border: 2px solid black;
    padding: 10px;
    text-align: justify;
}

.caixaCriarExecutar {
    background-color: gray;
    border: 2px solid black;
    padding: 10px;
    text-align: justify;
}

.caixaConstruir {
    background-color: gray;
    border: 2px solid black;
    padding: 10px;
    text-align: justify;
}

.botao {
    margin-left: 450px;
    margin-top: 100px;
}

#btn_exemplo {
    border-radius: 100px;
    background-color: white;
    border-color: black;
    width: 300px;
    height: 50px;
    font-family: sans-serif;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    outline: none;
    transition: 0.2s all;
}